
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
h1{    
    color: #ffee32;
    font-style: italic;
}
li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}


.wrapper {
    display: flex;
}
#sidebar,.navbar,.main{
    font-family: "Oxanium", sans-serif;

}
.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #202020;

}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #FAFB63;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #000000;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #000000;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 1rem 1.625rem;
    color: #000000;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 228, 228, 0.491);
    border-left: 4px solid #292929;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #fbfb63ab;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

img {
    margin-left: -0.4em;
  }

.navbar{
    background-color: #FAFB63;

}
.navbar-nav {
    box-sizing: border-box;

    --bs-nav-link-padding-y: 1.5em;
}
.nav-link img{
    margin-left: 1.25em;
}
.nav-link {
  padding: 1em 0em; /* Original padding */
  margin-bottom: 2px;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.nav-link:hover {
    background-color: rgba(255, 228, 228, 0.491);
    border: 2px solid #292929;

  padding: calc(1em - 2px) 0em; /* Correctly reduce vertical padding by 2px to compensate for the border */
}




  .navbar-nav .row:first-of-type{
    margin-top: 1em;
  }
.navbar-brand{
    color: #000000;
    font-size: 1.15rem;
    font-weight: 600;
}
.col-6{
    padding: 0;
}

@media (max-width: 767.98px) {
    #sidebar {
        display: none;
    }
}

